body {
  background: url(../coronanapp/images/bg.jpg); 
}
.centered {
    background-color: red;
    position: relative;
    width: 100%;
    height: 100%;
    
    z-index: 10;
}
#card {
    position: absolute;
    width: 20rem;

    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
    border: .15rem solid rgb(156, 99, 156);
}

.coro-footer {
  padding: 1.5rem 0;
  color: #e5e5e5;
  background-color: rgb(156, 99, 156);
  text-align: center;
  border-top: .05rem solid #e5e5e5;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.coro-footer p:last-child {
  margin-bottom: 0;
}
.cycle-slideshow a,
.cycle-slideshow a:focus,
.cycle-slideshow a:hover,
.cycle-slideshow a:active {
  display: inline-block;
}