<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include "toInclude.html" %}

  <title>Add Bet</title>
</head>

<body>

  {% include "headerLogged.html" %}


  <div class="centered">
    <div id="card" class="card" style="width: 45%; ">

      <div class=" card-body">

        <h1 class="card-title">Add Bet</h1>

        <div class="center" style="width: 100%">
          <canvas id="myChart"></canvas>
        </div>
        <div style="display: block; text-align: center;">
          <form method="post" style="display: inline-block; margin-left: auto; margin-right: auto;">
            {% csrf_token %}
            {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <button type="submit" value="Submit" class="btn btn-secondary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  {% include "footer.html" %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/js/data.js"></script>


</body>

</html>