<!--
<footer style="background-color: rgb(156, 99, 156);position: absolute;
    bottom: 0;
    margin: 0 auto;">
    <center>Projet réalisé à la HE-Arc dans le cadre du cours de DevWeb &copy;2021</center>
</footer>
-->

<footer class="coro-footer">
    <p>Projet réalisé à la HE-Arc dans le cadre du cours de DevWeb &copy;2021</p>

</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>