<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "toInclude.html" %}

    <title>Profile</title>
</head>

<body>

    {% include "headerLogged.html" %}


    <div class="centered">
        <div id="card" class="card" style="width: 25rem;">

            <div class=" card-body">

                <h1 class="card-title">Profile</h1>
                <p>Welcome, {{ user.username }}</p>
                <p>You have {{ user.profile.funds }} CHF</p>

            </div>
        </div>
    </div>


    {% include "footer.html" %}
</body>

</html>